.li-container {
  display: flex;

  justify-content: center;

  margin-top: 0.6rem;

  /* background-color: rgba(223, 139, 43, 0.746); */
  background-color: rgb(206, 135, 42);
  color: rgb(255, 255, 255);

  font-family: 'Courier New', Courier, monospace;
  font-size: medium;

  padding: 0.4rem;
  /* margin: 0.2rem; */

  box-sizing: border-box;

  width: 80%;

  border-radius: 0.4rem;
}

.li-container a {
  text-decoration: none;
  width: 100%;
}

.li-container:hover {
  background-color: rgba(160, 93, 16, 0.897);
  cursor: pointer;
}
