.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 25rem;
  height: 27rem;

  border-radius: 1em;

  background-color: #e79c2c;
  box-shadow: 0 0 1em black;
  background-image: linear-gradient(to right, #e79c2c 90%, white 10%);
}

.search-all-list button {
  height: 2.5rem;
  width: 16.5rem;

  border-radius: 0.5rem;
  box-shadow: inset 0 0 1em #8b5709;
  outline: none;
  border-color: #aa7018;
  background-color: #b17b2b;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.search-container .search-all-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.search-container .search-for-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;

  /* border: 1px solid red; */
}

.search-for-name button {
  height: 2.5rem;
  width: 16.5rem;

  border-radius: 0.5rem;
  box-shadow: inset 0 0 1em #8b5709;
  outline: none;
  border-color: #aa7018;
  background-color: #b17b2b;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  transition: linear 0.5s;
}

.search-for-name button:disabled {
  color: rgba(12, 11, 11, 0.938);
  border-color: rgba(248, 5, 54, 0.472);
  box-shadow: rgba(156, 96, 28, 0.931);
  background-color: rgba(44, 32, 13, 0.603);
}

.search-for-name button:hover,
.search-all-list button:hover {
  color: rgb(105, 102, 102);
  box-shadow: inset 0 0 1em rgba(255, 217, 0, 0.698);
  transition: ease-in 0.2s;
  border-color: rgba(236, 196, 20, 0.733);
  background-color: rgb(236, 168, 42);
}

.search-for-name input {
  height: 1.5rem;
  width: 14.6rem;
  padding: 0.2rem;
  margin-top: 0.6rem;

  border: none;
  border-radius: 0.3rem;

  background-color: rgba(240, 206, 134, 0.781);

  font-family: 'Courier New', Courier, monospace;
}

.search-for-name input:focus {
  outline-color: rgb(226, 205, 16);
}
