.app-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(29, 73, 77, 0.918);

  max-width: 25rem;
  min-width: 65rem;
  width: 30rem;

  max-height: 25rem;
  min-height: 45rem;
  height: 15rem;

  box-shadow: 0 0 1em black;
  border-radius: 1em;
}
